.footer {
  background: #0b2f47;
  padding-top: 50px;
}
.footer .links {
  width: 600px;
}
.footer .links ul {
  border-bottom: 1px solid #5381a0;
}
.footer .links li {
  float: left;
  width: 120px;
}
.footer .links li a {
  line-height: 40px;
  color: #fff;
}
.footer .links p {
  color: #5e6b7b;
}
.footer .connect {
  width: 250px;
}
.footer .connect a {
  color: #fff;
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #5381a0;
}
.footer .fangshi {
  margin-top: 10px;
}
.footer .fangshi li {
  position: relative;
  height: 40px;
  color: #597485;
}
.footer .fangshi li span {
  margin-left: 40px;
}
.footer b {
  width: 22px;
  height: 24px;
  position: absolute;
  top: 5px;
  display: inline-block;
}
.footer b.ico1 {
  background: url(../images/ico.png) 0 0;
}
.footer b.ico2 {
  background: url(../images/ico.png) 0 -27px;
}
.footer b.ico3 {
  background: url(../images/ico.png) 0 -58px;
  top: -1px;
}
