html,body{margin:0;padding:0;font-size:14px;font-family:"微软雅黑";color:#616161}
ul,li{margin:0;padding:0;list-style:none}
img{border:none}
h3{margin:0;padding:0}
a{text-decoration:none;color:#616161}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
* html .clearfix{zoom:1}
*:first-child+html .clearfix{zoom:1}
.page{width:980px;margin:0 auto}
.pull-left{float:left}
.pull-right{float:right}
.fix{position:fixed}
.text-center{text-align:center}
.top-bar{height:100px;width:100%;background:#fff;z-index:9999;box-shadow:1px 1px 6px #adadad}
.header a{display:inline-block}.header a img{margin-top:15px}
.navagation{margin-top:40px}.navagation ul>li{float:left}
.navagation .navagator{font-size:1.25em;margin-top:2px}.navagation .navagator li{margin-right:5px}.navagation .navagator li a{color:#616161;padding:4px 15px}.navagation .navagator li a.active,.navagation .navagator li a:hover{background:#18a7e3;border-radius:3px;color:#fff}
.navagation .user-panel{font-size:1.15em;margin-top:4px;width:135px}.navagation .user-panel li{margin-left:5px}.navagation .user-panel li a{background:#3ab6ea;color:#fff;padding:4px 15px}.navagation .user-panel li a:hover{background:#1eace7}
.navagation .user-panel .login-in a,.navagation .user-panel .login-in a:hover{background:transparent;padding:4px 1px;font-size:.9em;color:#17a0da}.navagation .user-panel .login-in a.log-out,.navagation .user-panel .login-in a:hover.log-out,.navagation .user-panel .login-in a.log-out:hover,.navagation .user-panel .login-in a:hover.log-out:hover{color:#616161}
.navagation .user-panel .login-in img{margin-top:-8px;width:35px;height:35px;border-radius:50%;border:1px solid #17a0da}
.nicescroll-rails{z-index:9999 !important}.nicescroll-rails div{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);opacity:.5;z-index:99999}
.fade{-webkit-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-o-transition:opacity .15s linear;-ms-transition:opacity .15s linear;transition:opacity .15s linear}
.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:.7em;line-height:2;opacity:0;filter:alpha(opacity=0)}
.tooltip.in{opacity:.9;filter:alpha(opacity=90)}
.tooltip.top{margin-top:-3px;padding:5px 0}
.tooltip.right{margin-left:3px;padding:0 5px}
.tooltip.bottom{margin-top:3px;padding:5px 0}
.tooltip.left{margin-left:-3px;padding:0 5px}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:left;text-decoration:none;background-color:#000;border-radius:4px;position:relative}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.top-left .tooltip-arrow{bottom:0;left:5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.top-right .tooltip-arrow{bottom:0;right:5px;border-width:5px 5px 0;border-top-color:#000}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-right-color:#000;border-width:5px 5px 5px 0}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}
.tooltip.bottom-left .tooltip-arrow{top:0;left:5px;border-width:0 5px 5px;border-bottom-color:#000}
.tooltip.bottom-right .tooltip-arrow{top:0;right:5px;border-width:0 5px 5px;border-bottom-color:#000}
.footer{background:#0b2f47;padding-top:50px}.footer .links{width:600px}.footer .links ul{border-bottom:1px solid #5381a0}
.footer .links li{float:left;width:120px}.footer .links li a{line-height:40px;color:#fff}
.footer .links p{color:#5e6b7b}
.footer .connect{width:250px}.footer .connect a{color:#fff;display:block;line-height:40px;border-bottom:1px solid #5381a0}
.footer .fangshi{margin-top:10px}.footer .fangshi li{position:relative;height:40px;color:#597485}.footer .fangshi li span{margin-left:40px}
.footer b{width:22px;height:24px;position:absolute;top:5px;display:inline-block}.footer b.ico1{background:url(../images/ico.png) 0 0}
.footer b.ico2{background:url(../images/ico.png) 0 -27px}
.footer b.ico3{background:url(../images/ico.png) 0 -58px;top:-1px}
.banner{padding-top:100px;height:505px;background:url(../images/1.jpg);position:relative}.banner .page{height:505px;position:relative;z-index:100}
.banner .fast-user{z-index:1;position:absolute}.banner .fast-user .form{position:relative;width:380px;height:420px;background:#f2f3f7;margin-top:45px;border:1px solid #868686}.banner .fast-user .form .form-state{width:300px;margin:0 auto}
.banner .fast-user .form .form-header img{position:absolute;top:10px;left:10px}
.banner .fast-user .form .form-header .form-title{margin-top:30px;text-align:center;margin-top:65px;border-bottom:1px solid #e2e2e2}.banner .fast-user .form .form-header .form-title h3{padding-bottom:10px;color:#909090;font-size:2.3em;margin-left:35px;font-weight:normal}
.banner .fast-user .form .form-body{border-top:1px solid #fff;border-bottom:1px solid #e2e2e2;height:160px}.banner .fast-user .form .form-body .form-input{margin-top:60px;height:50px;border:1px solid #3ab6ea;background:#fff;position:relative}.banner .fast-user .form .form-body .form-input input{background:transparent;height:20px;font-size:1.3em;width:280px;border:none;margin-top:13px;margin-left:15px;outline:none}
.banner .fast-user .form .form-body .form-input label{position:absolute;top:15px;left:15px;color:#ccc;cursor:text;width:280px;height:22px}
.banner .fast-user .form .form-footer{border-top:1px solid #fff}.banner .fast-user .form .form-footer .form-submit{background:#3ab6ea;height:76px;border:none;line-height:76px;font-size:2em;color:#fff;width:100%;cursor:pointer;border-radius:3px;margin-top:20px}.banner .fast-user .form .form-footer .form-submit:hover{background:#1eace7}
.banner .pre,.banner .next{width:58px;height:58px;position:absolute;background:url(../images/jt.png);top:240px;cursor:pointer}
.banner .pre{background-position:0 -82px;left:-120px}
.banner .next{right:-120px}
.banner .img-warpper{position:absolute;z-index:0;height:510px;width:100%;overflow:hidden;top:100px}.banner .img-warpper .image-back1{background:url("../images/1.jpg");z-index:3;width:100%;position:absolute}
.banner .img-warpper .image-back2{background:url("../images/2.jpg");z-index:2;width:100%;position:absolute}
.banner .img-warpper .image-back3{background:url("../images/3.jpg");z-index:1;width:100%;position:absolute}
.banner .img-warpper .image-stage{width:980px;margin:0 auto}
.apply{background:#224e6b;height:84px;color:#fff}.apply h4{font-size:1.5em;font-weight:normal;width:600px;margin-top:30px}
.apply .apply-for a{background:#d54141;display:inline-block;font-size:1.5em;color:#fff;padding:10px 80px;margin-top:20px;border-radius:3px}.apply .apply-for a:hover{background:#cb2d2d}
.customers{background:#f2f3f7}.customers h2{font-size:1.8em;margin:0;font-weight:normal;color:#318cb8;padding-top:20px;padding-bottom:10px}
.customers .customers-logo img{margin:10px 0}
.customers .assess{padding:50px 0}.customers .assess .words{margin-top:20px;width:600px}.customers .assess .words p{font-size:1.3em;line-height:1.8}
.do-what .do-for-you{font-size:1.8em;margin:20px 0;font-weight:normal;color:#318cb8;margin-top:20px}
.do-what .domain{width:152px}.do-what .domain li{text-align:center;font-size:1.3em;width:150px;padding:10px 0;line-height:44px;margin-bottom:50px;cursor:pointer;background:url(../images/pao.png)}.do-what .domain li a{display:inline-block;width:150px}
.do-what .domain li b{width:20px;height:12px;position:absolute;display:inline-block;background:url(../images/checkmark-f.png);margin-top:8px}
.do-what .domain li span{margin-left:20px}
.advantage{background:#f2f3f7}.advantage h2{font-size:1.8em;margin:20px 0;font-weight:normal;color:#318cb8;padding-top:20px}
.function{background:#318cb8;color:#fff;height:135px}.function h2{font-size:2em;margin:20px 0;font-weight:normal;margin-top:20px;position:relative}
.function ul li{text-align:center;float:left;width:100px;height:45px;line-height:45px;font-size:1.2em;border-radius:3px;margin-right:10px;margin-top:70px;margin-bottom:20px;background:#3ab6ea}.function ul li a{display:inline-block;width:100px;height:45px;color:#fff}
.function span{position:absolute;font-size:3em;top:60px;left:150px;color:#f2f3f7}
.gray{background:#f2f3f7}.gray .words{margin-top:70px;width:500px}.gray .words h3{color:#318cb8;font-weight:normal;font-size:1.6em}
.gray .words p{font-size:1.3em}
.white .words{margin-top:70px;width:500px}.white .words h3{font-weight:normal;font-size:1.6em}
.white .words p{font-size:1.3em}
form .tooltip{width:150px}
form .tooltip-inner{background:#cb2d2d;text-align:center}
form .tooltip.right .tooltip-arrow{border-right-color:#cb2d2d}
form .tooltip.top .tooltip-arrow{border-top-color:#cb2d2d}
